* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

#total {
  font-size: 40px;
  color: black;
}
.green {
  color: green;
  font-size: 40px;
}
.black {
  color: black;
  font-size: 40px;
}
.text {
  margin-left: 200px;
  padding-top: 10px;
}
.btn {
  width: 100%;
  background: #35e23b;
  border: green solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 15px;
}
.totalSum {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-top: rgb(82, 82, 176) solid 2px;
}
.redBtn {
  width: 100%;
  background: #d72828;
  border: #5e0303 solid 2px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.market {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 55px 150px;
}
.carts {
  width: 250px;
  height: 400px;
  border: solid rgb(82, 82, 176) 2px;
  padding: 20px;
  border-radius: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  height: 80px;
  width: 100%;
  background-color: rgb(82, 82, 176);
  border-radius: 3px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15vw;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.cart {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
}
.cart p {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: rgb(82, 82, 176);
  color: white;
}
.flex {
  width: 100%;
  height: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-top: rgb(82, 82, 176) solid 2px;
  padding-top: 30px;
}
.clear {
  width: 200px;
  margin-left: 600px;
  background: red;
  border: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container {
  display: flex;
  margin-bottom: 30px;
  width: 70%;
}

#root {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.sidebar {
  width: 40%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  border: solid 2px;
}
.head {
  background-color: rgb(82, 82, 176);
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid;
}

.box {
  display: flex;
  height: 550px;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  border: 1px solid rgb(82, 82, 176);
  border-radius: 5px;
  padding: 15px;
}
.image-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box img {
  width: 100%;
}
.images {
  max-width: 100px;
  min-width: 90%;
  min-height: 90%;
  object-fit: cover;
  object-position: center;
}
.box .bottom {
  margin-top: 20px;
  width: 100%;
  display: block;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

h2 {
  font-size: 20px;
  color: red;
}

button {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: rgb(82, 82, 176);
  padding: 7px 25px;
  cursor: pointer;
  color: white;
  margin-top: 20px;
}

button:hover {
  background-color: #333;
}
.fa-trash {
  color: rgb(82, 82, 176);
}
.fa-trash:hover {
  cursor: pointer;
  color: #333;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 10px;
}
.row-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgb(82, 82, 176);
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowing {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}
.rowing2 {
  width: 100%;
  height: 200px;
  border-radius: 50%;
}
.cartLike p {
  font-size: 21px;
  font-weight: bold;
}
